com.zxcl.webapp-web/src/main/resources/wsdl/thirdPolicyStatusQueryServiceXSD.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://thirdpolicystatusquery.ws.front.app.echannel.ebiz.alltrust.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://thirdpolicystatusquery.ws.front.app.echannel.ebiz.alltrust.com">

<xs:element name="request" nillable="true" type="tns:policyStatusRequest"></xs:element>

<xs:element name="response" nillable="true" type="tns:policyStatusResponse"></xs:element>

<xs:complexType name="policyStatusRequest">
<xs:sequence>
<xs:element name="authorityData" type="tns:authorityData" minOccurs="0"></xs:element>
<xs:element name="policyBase" type="tns:policyBase" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authorityData">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="userName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="policyBase">
<xs:complexContent>
<xs:extension base="tns:baseObject">
<xs:sequence>
<xs:element name="policyAppNo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="baseObject">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="policyStatusResponse">
<xs:sequence>
<xs:element name="policyResult" type="tns:policyResult" minOccurs="0"></xs:element>
<xs:element name="returnCode" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="returnMessage" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="policyResult">
<xs:complexContent>
<xs:extension base="tns:baseObject">
<xs:sequence>
<xs:element name="orderCode" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="policyNo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="remark" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="statusDesc" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>